<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WS_IntegracionGerdauSoap" closeTimeout="00:03:00"
                    openTimeout="00:03:00" sendTimeout="00:03:00" maxReceivedMessageSize="999999999" />
                <binding name="Ws_ToSoap" closeTimeout="00:03:00" openTimeout="00:03:00"
                    sendTimeout="00:05:00" maxReceivedMessageSize="999999999" />
                <binding name="FacturacionSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.191/Test/WS/WS_IntegracionGerdau.asmx"
                binding="basicHttpBinding" bindingConfiguration="WS_IntegracionGerdauSoap"
                contract="WS_Gerdau.WS_IntegracionGerdauSoap" name="WS_IntegracionGerdauSoap" />
            <endpoint address="http://localhost:55038/WS/Ws_To.asmx" binding="basicHttpBinding"
                bindingConfiguration="Ws_ToSoap" contract="WS_TO.Ws_ToSoap"
                name="Ws_ToSoap" />
            <endpoint address="http://192.168.1.191/Test/WS/Facturacion.asmx"
                binding="basicHttpBinding" bindingConfiguration="FacturacionSoap"
                contract="WsFacturacion.FacturacionSoap" name="FacturacionSoap" />
        </client>
    </system.serviceModel> 
  <appSettings>
    <add key="FTP" value="ftp://186.67.176.202/" />
    <add key="PathPendientes" value="C:\Integraciones\Gerdau\Pendientes\" />
    <add key="PathEnviados" value="C:\Integraciones\Gerdau\Enviados\" />
    <add key="Path_ePL" value="C:\Sistemas\EPL\" />
    <add key="Path_BOM" value="C:\Sistemas\BOM\" />
    <add key="Path_Calidad" value="\\192.168.1.191\Gestion de Calidad\GeneracionDocumentosAutomatico\" />
    <!--   <add key="Path_ArchivoCOF" value="\\192.168.1.191\Control Obras y Facturacion\Cobranza Clientes\Cobranzas 2021 Vigente.xlsx" />-->
 <add key="Path_ArchivoCOF" value="C:\Roberto Becerra\TO\Requerimientos\2021\Adm Obras\Cobranzas 2021 Vigente.xlsx" /> 
    <!--<add key="Path_Calidad" value="D:\Gestion de Calidad\GeneracionDocumentosAutomatico\"   />--> 
    <add key="Path_Pr_TOSOL" value="C:\Sistemas\PR_TOSOL\" />
     <!-- Path de la creacion del informe de la Linea de credito -->
    <add key="Path_ILC" value="C:\TMP\Linea Credito\Debug\" />
    <add key="Version" value="1.0.3" />
    
  </appSettings>
</configuration>